{% load staticfiles %}
html
    head
        title {% block head_title %}Django blog try{% endblock %}

        // Meta
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='UTF-8')

        // Bootstrap
        link(href="{% static 'css/bootstrap.css' %}", rel='stylesheet')

        // Custom styles
        link(href="{% static 'css/style.css' %}", rel='stylesheet')

        // Webfonts
        link(href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600', rel='stylesheet', type='text/css')

        // TypeKit
        script(type='text/javascript', src='//use.typekit.net/spm5lvh.js')
        script(type='text/javascript') try{Typekit.load();}catch(e){}

        // FontAwesome
        link(href="{% static 'css/font-awesome.css' %}", rel='stylesheet', media='screen')

        // Favicon
        link(rel='shortcut icon', href='/images/favicon.ico')

        // Apple icons
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='apple-touch-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='144x144', href='apple-touch-icon-144x144.png')

    body
        .main.collapse.in
            section#navigation
                .navbar.navbar-inverse.navbar-fixed-top
                    .container
                        .navbar-header
                            .navbar-toggle
                                input#sidebar.toggle(type="checkbox", name="sidebar", data-toggle='collapse', data-target='.main')
                                label.hamburger(for="sidebar")
                                    i
                            a.navbar-brand(href="#") Django ravings
                        .navbario
                            ul.nav.navbar-nav.navbar-right
                                li
                                    a(href="#") Posts
                                li
                                    a(type="button", data-toggle="dropdown").btn.dropdown-toggle
                                        | Categories 
                                        span.caret
                                    ul.dropdown-menu(role="menu")
                                        {% for category in categories %}
                                        li
                                            a(href="{{ category.get_absolute_url }}") {{ category.title }}
                                        {% endfor %}
                                        li.divider
                                        li
                                            a(href="#") All
            
            {% block content %}

            {% endblock %}

            section#footer.footer
                footer
                    .container
                        .row
                            .col-md-4
                                span.copyright
                                    | &copy; 2014

                                
        // Script
        script(type="text/javascript", src="http://code.jquery.com/jquery-latest.min.js")
        script(type="text/javascript", src="{% static 'js/plugins/jquery.parallax.min.js' %}")
        script(type="text/javascript", src="{% static 'js/vendor/bootstrap.min.js' %}")
        script(type="text/javascript", src="{% static 'js/script.js' %}")
